{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Insurance App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'custom/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
          <h2 class="logo">Insurance App</h2>
          <ul class="nav-links">
            {% if user.is_authenticated %}
              {% if user.role == 'admin' %}
                <li><a href="{% url 'sysadmin:admin_page' %}">Admin</a></li>
                <li><a href="{% url 'sysadmin:system_health' %}">System Health</a></li>
              {% endif %}
              {% if user.role == 'engineer' %}
                <li><a href="{% url 'engineer:engineer_page' %}">Engineer Home</a></li>
              {% elif user.role == 'finance' %}
                <li><a href="{% url 'finance:finance_page' %}">Finance Home</a></li>
              {% else %}
                <li><a href="{% url 'claims:claim_dashboard' %}">Dashboard</a></li>
              {% endif %}
      
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

<main class="main-container">
    {% block content %}{% endblock %}
</main>

<!-- JavaScript code -->
{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
      fetch("{% url 'session_info' %}")
        .then(res => res.json())
        .then(data => {
          const expiryTime = new Date(data.session_expiry).getTime();
          const warningTime = expiryTime - 10 * 60 * 1000; // 10 mins before expiry
          const now = new Date().getTime();
          const delay = warningTime - now;
    
          if (delay > 0) {
            setTimeout(() => {
              alert("Your session will expire in 10 minutes!");
            }, delay);
          }
        });
    });
</script>
{{ block.super }}
{% endblock %}
</body>
</html>
